body {
    font-family: "Arial", sans-serif;
}
h1 {
    font-size: 32px;
    color: rgb(255, 150, 0);
}

li {
    font-style: italic;
}

.initiator {
    font-size: 22px;
    background-color:rgb(165, 234, 165);
    color:rgb(155, 112, 34);
}